<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Create Account</title>
    </head>
    <body>
        <a href="{% url 'app:index' %}">Home</a>
        <p></p>
        <h4>Add Customer:</h4>
        <form action="{% url 'app:account' %}" method="post">
            {% csrf_token %}
            {{ form }}
        <input type="submit", value="Create Account">
        </form>
        {% if status == 1 %}
            <h3 style="color:green;">Account Created!</h3>
        {% elif status == -1 %}
            <h3 style="color:red;">Failure: Email ID already exists!</h3>
        {% endif %}
    </body>
</html>