<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Create Account</title>
        <style>
            #message.success {
                color: green;
            }
            #message.error {
                color: red;
            }
        </style>
    </head>
    <body>
        <a href="{% url 'app:index' %}">Home</a>
        <p></p>
        <form id="customer-form" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Create Account">
        </form>
        
        <div id="message"></div>
        
        <script>
            document.querySelector("#customer-form").addEventListener("submit", function(event) {
                event.preventDefault();
                let data = new FormData(event.target);
                let xhr = new XMLHttpRequest();
                xhr.open("POST", "{% url 'app:db_user' %}");
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                xhr.onload = function() {
                    let messageElement = document.querySelector("#message");
                    if (xhr.status === 201) {
                        messageElement.innerHTML = "Account created successfully!";
                        messageElement.classList.add("success");
                    } else if (xhr.status === 400) {
                        messageElement.innerHTML = "Email already exists!";
                        messageElement.classList.add("error");
                    }
                };
                xhr.send(data);
            });
        </script>
    </body>
</html>