<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Movies</title>
    </head>
    <body>
        <a href="{% url 'app:index' %}">Home</a>
        <form action="{% url 'app:movie' %}" method="post">
            {% csrf_token %}
            {{ form }}
        <input type="submit", value="Add Movie">
        </form>
        <h2>Movies</h2>
        <ul>
            {% for movie in movie_list %}
            <li>{{movie.title}}  {{movie.quantity}}</li>
            {% endfor %}
        </ul>

        {% if status == -1 %}
            <h3 style="color:red;">Movie already exists!</h3>
        {% endif %}
    </body>
</html>