<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Rent</title> 
    </head>
    <body>
        <a href="{% url 'app:index' %}">Home</a>
        <p></p>
        <form action="{% url 'app:rent' %}" method="post">
            {% csrf_token %}
            {{ form }}
        <input type="submit", value="Retrieve Rentals">
        </form>
        <div style="background-color:cyan">
            <h3>{{ email_id }}</h3>
            <h4>{{ name }}</h4>
        </div>
        <h3> All Movies</h3>
        {% for form in prefilled_movie_forms %}
        <form action="{% url 'app:db_rent' %}" method="post">
            {% csrf_token %}  
            {% for field in form %}
                {{ field }}
            {% endfor %}
            <button type="submit" name="rent">Rent</button>
            <br>
        </form>
        {% endfor %}
    </body>
</html>