<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Rent</title>
        <style>
            #user-info {
                color: green;
            }
            table {
                border-collapse: collapse;
                border: 1px solid lightgray;
            }
            th, td {
                border: 1px solid lightgray;
            }
            th {
                background-color: lightgray;
            }

        </style>
    </head>
    <body>
        <a href="{% url 'app:index' %}">Home</a>
        <p></p>
        <form id="email-form">
            <label for="email_id">Email Id:</label>
            <input type="email" id="email_id" name="email_id">
            <input type="submit" value="Submit">
        </form>
        <p id="user-info"></p>

        <table id="rented-movies">
            <tr>
                <th>Rented Movies</th>
            </tr>
        </table>
        <br> <br>

        <table id="available-movies">
            <tr>
                <th>Available Movies</th>
            </tr>
        </table>

    
        <script>
            var email;
            document.getElementById("email-form").addEventListener("submit", function(event) {
                event.preventDefault();
                email = document.getElementById("email_id").value;
                var userInfoRequest = new XMLHttpRequest();
                userInfoRequest.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        var user = JSON.parse(this.responseText);
                        var userInfo = document.getElementById("user-info");
                        userInfo.innerHTML = email + "<br>" + user.first_name + " " + user.last_name;
                    }
                };
                userInfoRequest.open("GET", "{% url 'app:db_user' %}?email_id=" + email, true);
                userInfoRequest.send();
            });

            document.getElementById("email-form").addEventListener("submit", function(event) {
                var rentedMoviesRequest = new XMLHttpRequest();
                rentedMoviesRequest.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        var rentedMovies = JSON.parse(this.responseText)["rentals"];
                        var rentedMoviesTable = document.getElementById("rented-movies");
                        for (var i = 0; i < rentedMovies.length; i++) {
                            var row = rentedMoviesTable.insertRow(-1);
                            var titleCell = row.insertCell(0);
                            // TODO: change after model change
                            titleCell.innerHTML = "<a href='#' onclick='returnMovie(\"" + rentedMovies[i].title_id + "\")'>" + rentedMovies[i].title_id + "</a>";
                        }
                    }
                }
                rentedMoviesRequest.open("GET", "{% url 'app:db_rent' %}?email_id=" + email, true);
                rentedMoviesRequest.send();
            });

            var availableMoviesRequest = new XMLHttpRequest();
            availableMoviesRequest.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var availableMovies = JSON.parse(this.responseText)["movies"];
                    var availableMoviesTable = document.getElementById("available-movies");
                    for (var i = 0; i < availableMovies.length; i++) {
                        var row = availableMoviesTable.insertRow(-1);
                        var titleCell = row.insertCell(0);
                        titleCell.innerHTML = "<a href='#' onclick='rentMovie(\"" + availableMovies[i].title + "\")'>" + availableMovies[i].title + "</a>";
                    }
                }
            };
            availableMoviesRequest.open("GET", "{% url 'app:db_movie' %}", true);
            availableMoviesRequest.send();

            function refreshTables() {

                var rentedMoviesTable = document.getElementById("rented-movies");
                while (rentedMoviesTable.rows.length > 1) {
                    rentedMoviesTable.deleteRow(1);
                }
                var availableMoviesTable = document.getElementById("available-movies");
                while (availableMoviesTable.rows.length > 1) {
                    availableMoviesTable.deleteRow(1);
                }

                var rentedMoviesRequest = new XMLHttpRequest();
                rentedMoviesRequest.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        var rentedMovies = JSON.parse(this.responseText)["rentals"];
                        for (var i = 0; i < rentedMovies.length; i++) {
                            var row = rentedMoviesTable.insertRow(-1);
                            var titleCell = row.insertCell(0);
                            titleCell.innerHTML = "<a href='#' onclick='returnMovie(\"" + rentedMovies[i].title_id + "\")'>" + rentedMovies[i].title_id + "</a>";
                        }
                    }
                };
                rentedMoviesRequest.open("GET", "{% url 'app:db_rent' %}?email_id=" + email, true);
                rentedMoviesRequest.send();

                var availableMoviesRequest = new XMLHttpRequest();
                availableMoviesRequest.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        var availableMovies = JSON.parse(this.responseText)["movies"];
                        for (var i = 0; i < availableMovies.length; i++) {
                            var row = availableMoviesTable.insertRow(-1);
                            var titleCell = row.insertCell(0);
                            titleCell.innerHTML = "<a href='#' onclick='rentMovie(\"" + availableMovies[i].title + "\")'>" + availableMovies[i].title + "</a>";
                        }
                    }
                };
                availableMoviesRequest.open("GET", "{% url 'app:db_movie' %}", true);
                availableMoviesRequest.send();
            }

            function rentMovie(title) {
                var rentedMoviesTable = document.getElementById("rented-movies");
                var rentedMoviesCount = rentedMoviesTable.rows.length - 1;
                if (rentedMoviesCount < 3) {
                    var rentMovieRequest = new XMLHttpRequest();
                    rentMovieRequest.onreadystatechange = function() {
                        if (this.readyState == 4 && this.status == 200) {
                            refreshTables();
                        }
                    };
                    rentMovieRequest.open("POST", "{% url 'app:db_rent' %}", true);
                    rentMovieRequest.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                    let data = {"action": "rent", "title": title, "email_id": email}
                    rentMovieRequest.send(JSON.stringify(data));
                }
            }

            function returnMovie(title) {
                var rentMovieRequest = new XMLHttpRequest();
                rentMovieRequest.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        refreshTables();
                    }
                };
                rentMovieRequest.open("POST", "{% url 'app:db_rent' %}", true);
                rentMovieRequest.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                let data = {"action": "return", "title": title, "email_id": email}
                rentMovieRequest.send(JSON.stringify(data));
            } 
        </script>
    </body>
</html>